[submodule "captivea/odoo_addons_demo_v11"]
	path = captivea/odoo_addons_demo_v11
	url = git@github.com:captivea/odoo_addons_demo_v11.git
	branch = dev

[submodule "captivea/odoo_addons_maps"]
	path = captivea/odoo_addons_maps
	url = git@github.com:captivea/odoo_addons_maps.git
	branch = dev
