[submodule "captivea/odoo_addons_demo_v11"]
	path = captivea/odoo_addons_demo_v11
	url = git@github.com:captivea/odoo_addons_demo_v11.git
	branch = dev

[submodule "bgavarini/odoo-addons"]
	path = bgavarini/odoo-addons
	url = git@github.com:bgavarini/odoo-addons.git
	branch = v1120171028

[submodule "gityopie/odoo-addons"]
	path = gityopie/odoo-addons
	url = git@github.com:gityopie/odoo-addons.git
	branch = v1120171028

[submodule "Idealisconsulting/odoo-addons"]
	path = Idealisconsulting/odoo-addons
	url = git@github.com:Idealisconsulting/odoo-addons.git
	branch = 11.0

[submodule "0k/web_google_map"]
	path = 0k/web_google_map
	url = git@github.com:0k/web_google_map.git
	branch = master

[submodule "odoonz/misc-gityopie"]
	path = odoonz/misc-gityopie
	url = git@github.com:odoonz/misc-gityopie.git
	branch = waypoints
